<div>
    <h2>{{nome}}</h2>   

    <p>{{descricao}}</p>

    <p>{{categoria}}</p>
    <p>{{preco}}</p>

    <a href="/detalhes"><input type="button" value="Ver detalhes"></a>

    <a href="/atualizar"><input type="button" value="Editar"></a>

    <a href="/"><input type="button" value="Excluir"> </a>
</div>